<div class="driver-container flex flex-col items-center justify-center min-h-screen">
  <!-- Modal para el formulario de agregar conductor -->
  <div
    *ngIf="showAddDriverModal"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
  >
    <div class="modal-content bg-white p-6 rounded-lg shadow-lg">
      <app-add-driver (closeModal)="closeAddDriverModal()"></app-add-driver>
      <button
        (click)="closeAddDriverModal()"
        class="absolute top-2 right-2 bg-red-500 text-white p-1 rounded-full"
      >
        Cerrar
      </button>
    </div>
  </div>

  <!-- Contenedor principal para centrar la grilla -->
  <div class="container mx-auto p-4 text-center">
    <h3 class="text-2xl font-bold mb-4">Lista de Conductores</h3>
  
    <!-- Grid de 3x3 para las tarjetas -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <app-driver-detail
        *ngFor="let driver of drivers; index as i"
        [firstName]="driver.firstName"
        [lastName]="driver.lastName"
        [index]="i"
    ></app-driver-detail>
    </div>
  </div>
  
  <!-- Botón para abrir el modal de agregar conductor -->
  <button
    (click)="openAddDriverModal()"
    class="bg-gradient-to-br from-gray-800 to-gray-900 text-white py-2 px-6 rounded-lg shadow-lg transition-transform duration-300 hover:scale-105 mb-6"
  >
    Agregar Conductor
  </button>
</div>