<h2>Add New Driver</h2>
<form [formGroup]="addDriverForm" (ngSubmit)="onSubmit()">
  <label for="firstName">First Name:</label>
  <input id="firstName" formControlName="firstName" type="text" />
  <div *ngIf="addDriverForm.get('firstName')?.invalid && addDriverForm.get('firstName')?.touched">
    First name is required.
  </div>

  <label for="lastName">Last Name:</label>
  <input id="lastName" formControlName="lastName" type="text" />
  <div *ngIf="addDriverForm.get('lastName')?.invalid && addDriverForm.get('lastName')?.touched">
    Last name is required.
  </div>

  <button type="submit" [disabled]="addDriverForm.invalid">Add Driver</button>
</form>